/*
 * Stylesheet for SocialTweak splash
 * Author: Alex Duller
 * Contents:
 *  - Global styles
 *  - Header
 *  - Footer
 */

/* Sticky footer */
html, body {
  height: 100%;
}

#container {
  height: auto;
  min-height: 100%;
}

/* Global styles */
body {
  font: 14px Helvetica, Arial, sans;
  padding: 0;
  margin: 0;
  min-width: 980px;
}

a {
  text-decoration: none;
  outline: 0;
}

a:hover {
  text-decoration: underline;
}

/* Header */
#header {
  font-weight: 550;
  height: 83px;
  padding-bottom: 7px;
  background: url(../images/header.png) repeat-x bottom left;
  display: block;
}

h1 {
  margin: 13px 0 0 50px;
  padding: 0;
  display: block;
  float: left;
  text-indent: -10000px;
  outline: 0;
  width: 265px;
  height: 52px;
  background: url(../images/Logo.png);
  cursor: pointer;
}

#header form {
  width: 600px;
  float: right;
  margin: 18px 0 0 0;
}

#header form p {
  float: left;
  margin: 0 0 0 40px;
  padding: 0;
  width: 135px;
  display: block;
}

#header form label {
  display: block;
  color: white;
  font-size: 18px;
  letter-spacing: -1px;
  width: 135px;
}

#header form input[type=text], #header form input[type=password] {
  display: block;
  width: 135px;
  height: 19px;
  line-height: 19px;
  padding: 2px 0;
  border: 0;
  font-size: 12px;
  background: white;
}

#form-links {
  clear: both;
  margin-left: 215px;
}

#form-links span {
  width: 130px;
  margin-right: 40px;
  display: block;
  float: left;
  text-align: center;
}

#form-links a {
  font-size: 11.5px;
  color: white;
  font-weight: 580;
}

#login-btn {
  margin-top: 8px;
  width: 125px;
  height: 33px;
  background: url(../images/login-btn.png);
  display: block;
  padding: 0;
  border: 0;
  text-indent: -30000px;
  outline: 0;
  cursor: pointer;
}

#login-btn:hover {
  background-position: 0 -35px;
}

#content {
  overflow: auto;
  padding-bottom: 216px;
}

#content h2 {
  width: 844px;
  margin: 50px auto 10px auto;
  font-size: 30px;
  text-indent: -30000px;
  background: url(../images/banner.png) no-repeat;
  height: 100px;
}

/* Roundabout */
#roundabout {
  height: 318px;
}

#roundabout ul {
  width: 524px;
  padding-left: 0;
  height: 318px;
  margin: 0 auto;
  list-style: none;
}

.roundabout-holder {
  padding: 0;
  height: 318px;
}

.roundabout-moveable-item {
  height: 318px;
  width: 524px;
  overflow: hidden;
  cursor: pointer;
}

.roundabout-in-focus {
  cursor: auto;
}

.prev-next-links {
  display: none;
}

.roundabout-in-focus .prev-next-links {
  display: block;
  margin-top: -180px;
  z-index: 2000;
  position: relative;
  height: 40px;
}

.previous, .next {
  display: block;
  width: 25px;
  height: 40px;
}

.next {
  float: right;
  background: url(../images/right.png) no-repeat;
  margin-right: 10px;
}

.previous {
  float: left;
  background: url(../images/left.png) no-repeat;
  margin-left: 10px;
}

/* Dots below roundabout */
#dots {
  height: 25px;
  margin: 20px auto;
  clear: both;
}

#dots li {
  float: left;
  list-style: none;
  width: 16px;
  margin: 0 5px;
}

#dots li a {
  width: 16px;
  height: 16px;
  display: block;
  background: url(../images/dot.png) no-repeat;
}

#dots li a:hover, #dots li.selected a {
  background-position: 0 -16px;
}

/* Footer */
#footer {
  margin-top: -216px;
  height: 216px;
  min-width: 980px;
  clear: both;
  position: relative;
  color: white;
  background: url(../images/footer.png) repeat-x;
}

#footer a {
  color: white;
  font-weight: bold;
}

#footer-content {
  margin: 0 auto;
  width: 940px;
}

.section {
  padding-top: 70px;
  float: left;
  margin-left: 40px;
  width: 195px;
}

.section p {
  margin: 7px 0 0 0;
}

.section h3 {
  font-weight: normal;
  font-size: 22px;
  letter-spacing: -1px;
  margin: 0;
}


#via {
  font-size: 80%;
}

/* Social section */
#facebook, #twitter {
  display: block;
  width: 63px;
  height: 61px;
  float: left;
  text-indent: -10000px;
  outline: 0;
  margin: 5px 15px 0 0;
}

#facebook {
  background: url(../images/facebook.png);
}

#twitter {
  background: url(../images/twitter.png);
}

/* contact, about, terms */
#misc {
  background: url(../images/faded-logo.png) no-repeat 0 100px;
}

#misc ul {
  margin: 70px 0 0 20px;
  padding: 0;
}

#misc ul li {
  float: left;
  list-style: none;
  margin: 0 20px 0 0;
}

#misc ul li a {
  font-weight: normal;
  font-size: 85%;
  color: #646464;
}
