#slidedeck {
  padding-top: 15px;
}

#open-footer ul li {
  width: 200px;
}

.button-block li a, #search-submit {
  font-size: 12px !important;
}

#right-col h2 {
  font-size: 22px;
}

#categories, #channels {
  margin: 0;
  padding: 0;
}

.frame .footer {
  margin-top: -20px;
}

.media-box h2 {
  font-weight: normal;
}

#current-progress {
  float: left;
}

.tweet-button, .post-button {
  text-transform: capitalize;
}

#counter li span {
  display: block;
  padding-top: 10px;
}

#spin {
  padding-top: 55px;
  height: 75px;
}

.redeem-content {
  padding-top: 50px !important;
  width: 343px;
  font-weight: bold;
}

#progress ul {
  width: 407px;
}

#progress ul li {
  margin-left: 12px;
}

#progress h3 {
  width: 402px;
}

#progress h4 {
  clear: left;
}

#progress li span.progress {
  float: left;
  z-index: -1;
}
