#slidedeck {
  padding-top: 15px;
}

#open-footer ul li {
  width: 200px;
}

.button-block li a, #search-submit {
  font-size: 12px !important;
}

#right-col h2 {
  font-size: 22px;
}

#categories, #channels {
  margin: 0;
  padding: 0;
}

.frame .footer {
  margin-top: -20px;
}

.media-box h2 {
  font-weight: normal;
}

#current-progress {
  float: left;
}

.tweet-button, .post-button {
  text-transform: capitalize;
}

#progress {
  width: 200px;
  margin-left: -35px;
}
