/*
 * Stylesheet for SocialTweak base
 * Author: Alex Duller
 * Contents:
 *  - Global styles
 *  - Header
 *  - Content
 *    - Thumbnails
 *    - Slidedeck
 *  - Footer
 */

/* Global styles */
body {
  font: 14px Helvetica, Arial, sans;
  padding: 0;
  margin: 0;
  min-width: 950px;
}

a {
  text-decoration: none;
  outline: 0;
}

a:hover {
  text-decoration: underline;
}

/* Header */
#header {
  font-weight: 550;
  height: 83px;
  padding-bottom: 7px;
  background: url(../images/header.png) repeat-x bottom left;
  display: block;
}

h1 {
  margin: 13px 0 0 50px;
  padding: 0;
  display: block;
  float: left;
  text-indent: -10000px;
  outline: 0;
  width: 265px;
  height: 52px;
  background: url(../images/Logo.png);
}

#nav {
  float: right;
  margin: 30px 32px 0 0;
}

#nav li {
  display: block;
  float: left;
  list-style: none;
  margin-left: 25px;
}

#nav li a {
  font-size: 23px;
  color: white;
  letter-spacing: -1px;
}

/* Content */
#content {
  padding-bottom: 70px;
}

#thumbnails {
  width: 940px;
  margin: 20px auto;
  height: 200px;
  padding: 0;
}

#thumbnails li {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 300px;
  height: 200px;
  float: left;
  margin: 0 5px;
}

#slidedeck {
  clear: left;
  width: 915px;
  height: 360px;
  background: url(../images/slidedeck.png) no-repeat;
  padding: 1px 10px 0 15px;
  margin: 0 auto;
}

#slidedeck dl {
  height: 330px;
  position: relative;
}

/* Spine */
#slidedeck dt {
  border-bottom: 5px solid #1d1d1d;
  cursor: pointer;
  height: 50px;
  line-height: 50px;
  display: block;
  background: url(../images/spine.png) 0 0;
  position: relative;
  color: white;
  padding: 0 20px;
}

#slidedeck dt:hover, #slidedeck dt.active {
  background-position: 0 -50px;
}


#slidedeck dd {
  background: white;
  overflow: hidden;
  border-right: 5px solid #1d1d1d;
  border-left: 1px solid #1d1d1d;
  border-top: 1px solid #1d1d1d;
  border-bottom: 1px solid #1d1d1d;
  padding: 10px;
}

#slidedeck .index {
  font-size: 23px;
  color: #191919;
}

/* Footer */
#footer {
  z-index: 3000;
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
  color: white;
  font-weight: 550;
  background: url(../images/openfooter.png) repeat-x;
  letter-spacing: -0.8px;
  width: 100%;
}

#footer a {
  color: white;
}

#closed-footer, #open-footer {
  width: 420px;
  float: right;
  margin-right: 30px;
}

#closed-footer {
  padding: 60px 0 0 0;
  height: 35px;
}

/* contact, about, terms */
#closed-footer ul {
  float: left;
  margin: 5px 0 0 0;
  padding: 0;
}

#closed-footer ul li {
  padding: 0;
  float: left;
  list-style: none;
  margin: 0 3px;
  letter-spacing: -0.7px;
}

#points, #settings {
  display: block;
  font-size: 23px;
}

#points {
  float: left;
  margin: 0 25px;
}

#points span, a#change-status {
  color: #3f8545;
}

#settings {
  float: right;
  background: url(../images/footer-arrow.png) no-repeat top right;
  padding-right: 20px;
}

/* Open footer (when settings has been clicked) */
#open-footer {
  clear: both;
  height: 105px;
}

#account-info {
  width: 200px;
  height: 100px;
  margin-top: 10px;
  float: left;
}

#account-info img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  display: block;
  float: left;
}

#account-info p {
  margin: 0;
}

#account-info a {
  display: block;
  text-align: center;
}

#see-profile {
  clear: both;
  margin-top: 10px;
}

/* Account, Logout */
#open-footer ul {
  float: right;
  margin: 5px 0 0 0;
}

#open-footer ul li {
  list-style: none;
  height: 25px;
  text-align: right;
}
