/*
 * Stylesheet for SocialTweak splash
 * This is only called in IE7
 */


#header form input {
  margin: 0 0 0 -40px;
}

#header form input[type=submit] {
  text-transform: capitalize;
  margin-top: 10px;
}

#misc {
  height: 150px;
}

#misc ul {
  margin-top: 140px;
}
